.lobby-container {
    padding: var(--s);
}

.container {
    margin : 0 auto;
    padding : var(--m);
}

.text-container {
    margin: var(--s);
    text-align: center;
}

.button-container {
    margin: var(--s);
    text-align: center;
}

.vertical-line {
    margin : var(--s);
    border-left: thick solid white;
}